.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #ffffff;
    padding: 24px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /
}


.modal-content h2 {
    margin-top: 0;
    font-size: 24px;
}

.modal-content label {
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    width: 100%;
    text-align: left;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}


.modal-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}

.modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: none;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
}

.modal-buttons button.save-button {
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;
}

.modal-buttons button.close-button {
    background-color: #f44336;
    color: white;
}

.modal-buttons button:hover {
    opacity: 0.9;
}

